---
import Layout from '../layouts/Layout.astro'
import GoBackIcon from '../icons/GoBack.astro'
---

<Layout title='Book not found'>
	<div class='grid place-content-center min-h-[715px]'>
		<h1 class='md:text-4xl text-2xl font-black mb-8 text-center'>Sorry! Book not found</h1>
		<img
			class='w-[300px] md:w-[500px] mx-auto'
			src='https://midu.dev/images/this-is-fine-404.gif'
		/>
		<section class='mt-8 flex justify-center'>
			<GoBackIcon />
		</section>
	</div>
</Layout>
